*{
    box-sizing: boder-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
.card{
    background-color: rgb(29 50 81);;
    color: white;   
}
#searchweather{
    background-color: rgb(128, 163, 203);
    font-size: 15px;
    
}
button {
    color:aliceblue;
    border-radius: 10px;
    width: 95%;   
    margin: 10px
    
}
input{
    border-radius: 10px;
    margin: 9px;
    width: 95%;  
}
#search-history{
    border-radius: 10px;
    margin: 9px;
    width: 95%; 
}

